@charset "UTF-8";

* {
    cursor: url('../images/hand-cursor-32.png'), auto;
}

#main-header {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman';
    font-weight: bold;
    /* font-family: monospace; */
    font-size: clamp(20px, 3vmax, 50px);
    text-align: center;
    text-shadow:3px 3px #4879ff;
}

.star-icon{
    width: 7vmax; 
    height: auto; /* This maintains the aspect ratio */
    vertical-align: center; /* This aligns the image with the middle of the text */
    display: inline-block; /* This makes the image inline with text */
    margin: 2vw; /* This adds some space between the image and text */
}

.top-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    padding-top: 2vmax;
}

#text1{
    color: green;
    font-family: monospace;
    font-size: 3vmin;
    font-weight: bold;
    text-align: center;
    padding: 3vmin;
}

.links-container{
    padding-top: 6vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10vmin;
    align-content: center;
    justify-content: center;
}

.link-item {
    display: flex;
    max-width: min-content;
    max-height: min-content;
    gap: 1vmin;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link-item a {
    color: blue;
    background-color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
    max-width: 100em;
    font-family: monospace;
    font-size: (10px, 2vh, 15px);
}

.icon{
    width: 25vmin;
    height: auto;
}

body{
    background-color: #161515;
    background-image: url(../images/stars.png);
}