@charset "UTF-8";

#main-header {
    color: #ffffff;
    font-family: 'Trebuchet MS';
    /* font-family: monospace; */
    font-size: 50px;
    text-align: center;
    text-shadow:3px 3px #4879ff;
}

.star-icon{
    width: 150px; /* Adjust this value to change the size */
    height: auto; /* This maintains the aspect ratio */
    vertical-align: center; /* This aligns the image with the middle of the text */
    display: inline-block; /* This makes the image inline with text */
    margin-right: 5px; /* This adds some space between the image and text */
}

.top-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

#text1{
    color: white;
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
    padding: 20px;
}

body{
    background-color: #161515;
    background-image: url(../images/stars.png);
}